.quote-line{
    border: 1px solid #893DFF;
    height: 1px;
    width: 30px;
}

.email a{
    text-decoration: none;
}

.quote{
    padding: 100px 0;
    background-image: url(BMW.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.add-btn{
    width: 20%;
    padding: 10px;    
    border-radius: 5px;
    border: none;
    background-color: #893DFF;
    color: white;
    font-weight: 700;
}

.add-btn:hover{
    background-color: #a86eff;
}

.quote-container{
    background-color: white;
    width: 40%;
}

.input{
    width: 70%;
}

.quote-heading{
    width: 70%;
}


.quote-paragraph{
    width: 70%;
}


@media screen and (min-width:280px) and (max-width:470px) {
    .add-btn{
        width: 45%;
    }
}

@media screen and (min-width:471px) and (max-width:900px) {
    .add-btn{
        width: 30%;
    }
}


@media screen and (min-width:901px) and (max-width:1301px) {
    .add-btn{
        width: 40%;
    }
}

@media screen and (min-width:1301px) and (max-width:1500px) {
    .add-btn{
        width: 35%;
    }
}

@media screen and (min-width:1501px) and (max-width:2000px) {
    .add-btn{
        width: 25%;
    }
}

@media screen and (min-width:280px) and (max-width:900px) {
    .quote-container{
        width: 95%;
        padding-left: 10px ;
        padding-right: 10px ;
    }

    .input{
        width: 100%;
    }


    .quote-heading{
        width: 95%;
    }
    
    
    .quote-paragraph{
        width: 95%;
    }
}


